.container-res {
    padding-top: 12%;
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    opacity: 0.9;
}
.card{
    padding-bottom: 10px;
    background-color: #ececec;
    border-radius: 10px;
    padding-top: 90px;
}
.buttons{
    display: flex;
    gap : 20px;
    margin-top: 80px;
    margin-bottom: 70px;
    padding-left: 22.5%;

}
.result-header{
    margin-top: 40px;
    font-weight: bold;
    font-family: Times, Times New Roman, serif;
    font-size: 19px;
}
.title{
    font-size: 15px;
}
.horizontal{
    display: flex;
    gap : 10px;
}
.reset-btn{
    border-radius: 120px;
    height: 50px;
    width: 220px;
}
.back-btn{
    border-radius: 120px;
    height: 50px;
    width: 220px;
}
.history{
    border-radius: 120px;
    height: 47px;
    width: 210px;
}
.ant-card-body {
    padding: 20px;
    margin-top: 10px;
    background-color: #ececec;
    border-radius: 15px;

}
.ant-card{
    background-color: transparent;
}
.chart{
width: 300px;
  /*height: 300px;*/
   margin-left: 30%;
}
.ant-modal-body{
    overflow: scroll;
    height: 65vh;
    overflow-x: hidden;
}